.e5_3 { 
	overflow:hidden;
}
.e5_3 { 
	width:1980px;
	height:1080px;
	position:absolute;
}
.e1_11 { 
	background-color:rgba(255, 255, 255, 1);
	width:1980px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_70 { 
	background-color:rgba(220.00000208616257, 215.0000023841858, 203.00000309944153, 1);
	width:1250px;
	height:880px;
	position:absolute;
	left:365px;
	top:99px;
}
.e1_76 { 
	width:700px;
	height:190px;
	position:absolute;
	left:415px;
	top:150px;
	background-image:url(images/rectangle_43.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position: 50% 50%;
}
.e1_78 { 
	width:700px;
	height:190px;
	position:absolute;
	left:415px;
	top:360px;
	background-image:url(images/rectangle_44.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position: 50% 50%;
}
.e1_92 { 
	background-color:rgba(161.0000056028366, 177.0000046491623, 137.00000703334808, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:761px;
	top:605px;
}
.e1_71 { 
	background-color:rgba(59.00000028312206, 90.00000223517418, 66.00000366568565, 1);
	width:1050px;
	height:100px;
	position:absolute;
	left:565px;
	top:0px;
}
.e1_87 { 
	background-color:rgba(51.00000075995922, 78.00000295042992, 65.0000037252903, 1);
	width:1250px;
	height:100px;
	position:absolute;
	left:365px;
	top:980px;
}
.e1_95 { 
	background-color:rgba(107.00000122189522, 112.000000923872, 92.00000211596489, 1);
	width:200px;
	height:100px;
	position:absolute;
	left:365px;
	top:0px;
}
.e1_72 { 
	width:400px;
	height:400px;
	position:absolute;
	left:1165px;
	top:150px;
	background-image:url(images/rectangle_39.png);
	background-repeat:no-repeat;
	background-size:cover;
	background-position: 50% 50%;
}
.e94_5 { 
	width:100px;
	height:100px;
	position:absolute;
	left:951px;
	top:424px;
}
.e1_88 { 
	background-color:rgba(161.0000056028366, 177.0000046491623, 137.00000703334808, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:415px;
	top:605px;
}
.e1_89 { 
	background-color:rgba(161.0000056028366, 177.0000046491623, 137.00000703334808, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:415px;
	top:775px;
}
.e1_90 { 
	background-color:rgba(161.0000056028366, 177.0000046491623, 137.00000703334808, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:588px;
	top:605px;
}
.e1_91 { 
	background-color:rgba(161.0000056028366, 177.0000046491623, 137.00000703334808, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:588px;
	top:775px;
}
.e1_94 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(88.00000235438347, 129.00000751018524, 88.00000235438347, 1);
	width:615px;
	height:320px;
	position:absolute;
	left:950px;
	top:605px;
}
.e1_94 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e1_93 { 
	background-color:rgba(161.0000056028366, 177.0000046491623, 137.00000703334808, 1);
	width:150px;
	height:150px;
	position:absolute;
	left:761px;
	top:775px;
}
