.1_33 { 
	overflow:hidden;
}.e1_33 { 
	width:1980px;
	height:1080px;
	position:absolute;
}.e1_5 { 
	background-color:rgba(255, 255, 255, 1);
	width:1980px;
	height:1080px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_24 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1250px;
	height:1080px;
	position:absolute;
	left:365px;
	top:0px;
}.e1_28 { 
	background-color:rgba(245.00000059604645, 236.00000113248825, 225.00000178813934, 1);
	width:1250px;
	height:440px;
	position:absolute;
	left:365px;
	top:100px;
}.e1_29 { 
	background-color:rgba(228.0000016093254, 214.00000244379044, 202.00000315904617, 1);
	width:625px;
	height:440px;
	position:absolute;
	left:365px;
	top:540px;
}.e1_30 { 
	background-color:rgba(213.00000250339508, 190.0000038743019, 177.0000046491623, 1);
	width:625px;
	height:440px;
	position:absolute;
	left:990px;
	top:540px;
}.e1_26 { 
	background-color:rgba(238.00000101327896, 238.00000101327896, 233.00000131130219, 1);
	width:250px;
	height:100px;
	position:absolute;
	left:365px;
	top:0px;
}.e1_27 { 
	background-color:rgba(214.00000244379044, 204.00000303983688, 194.00000363588333, 1);
	width:1000px;
	height:100px;
	position:absolute;
	left:615px;
	top:0px;
}.e1_31 { 
	background-color:rgba(214.00000244379044, 204.00000303983688, 194.00000363588333, 1);
	width:1250px;
	height:100px;
	position:absolute;
	left:365px;
	top:980px;
}