#header {
    position: absolute;
    left: 0;
    top: 0;
    width: 1920px;
    height: 950px;
    z-index: 10000;
    background: url(../../img/Header_img1.svg);
}
#main {
    width: 1920px;
    height: 4180px;
    background-color: #111;
}
#footer {
    text-align: center;
    background-color: #EEEEEE;
    width: 1920px;
    height: 500px;
} 